#uuuuu {
    width: 100px;
    margin-top: 15px;
    margin-right: 3px;
    display: inline-block;
}

#message h3 {
    position: relative;
    bottom: 15px;
}

#karameru {
    width: 30%;
}

#karameru p {
    font-size: 12px;
    text-align: left;
    position: relative;
    bottom: 12px;
}

#karameru p span {
    font-size: 8px;
    position: relative;
    bottom: 3px;
}

html {
    background-color: black;
    color: white;
    font-family: 'DM Sans';
}